<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор способа дневной нормы</title>
    <link rel="stylesheet" href="/styleforwelcome.css">
</head>
<body>
<div class="container">
    <h1>Выбери способ расчета калорий</h1>

    <form action="/profile/goal" method="post">
        <input type="hidden" name="userId" th:value="${userId}">

        <label><input type="radio" name="goal" value="loss" required> Похудеть</label>
        <label><input type="radio" name="goal" value="gain"> Набрать вес</label>

        <button type="submit">Показать рацион</button>
    </form>

</div>
</body>
</html>
