<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание профиля</title>
  <link rel="stylesheet" href="/styleforwelcome.css">
</head>
<body>
<div class="container">
  <h1>Добро пожаловать!</h1>
  <p>Заполни профиль для расчёта калорий</p>

  <form action="/welcome" method="POST">
    <label for="username">Имя:</label>
    <input type="text" id="username" name="username" required>

    <label for="weight">Вес:</label>
    <input type="number" step="0.01" id = "weight"  name="weight" required>

    <label for = "password">Придумайте пароль:</label>
    <input type = "number" name = "password" id = "password" required oninput="this.value = this.value.slice(0, 8)">


    <button type="submit">Продолжить</button>

  </form>
  <p style="color: red;">
    <span th:text="${errorMessage}"></span>
  </p>


  <p>
    Уже есть аккаунт? <a href="/login" style="color: #007bff; text-decoration: none;">Войти</a>
  </p>

</div>
</body>
</html>
